<strong>Olá {{deliveryman}},</strong>
<p>Uma nova encomenda está pronta para ser retirada! Veja detalhes abaixo:</p>
<p style="color: #555; font-weigth: lighter; font-style: italic; padding: 5px; border: 1px dotted #ccc; background-color: #eee">
  <strong>Produto:</strong> {{product}} <br />
  <strong>Destinatário:</strong> {{recipient}} <br />
</p>
  <strong>ENDEREÇO:</strong>
<p style="color: #555; font-weigth: lighter; font-style: italic; padding: 5px; border: 1px dotted #ccc; background-color: #eee">
  <strong>Logradouro:</strong> {{street}} {{number}}, {{complement}} <br />
  <strong>Cidade:</strong> {{city}}-{{state}} <br />
  <strong>CEP:</strong> {{postcode}} <br />
</p>
  <small>Você pode retirar o pedido durante o horário comercial, entre 8h e 18h</small>
  <br />
