<strong>Olá {{deliveryman}},</strong>
<p>Uma nova encomenda está pronta para ser retirada!</p>
<p>Segue abaixo alguns detalhes da encomenda:</p>
<p>
  <strong>Produto:</strong> {{product}} <br />
  <strong>Destinatário:</strong> {{recipient}} <br />
  <br />
  <strong>Endereço:</strong><br />
  <strong>Logradouro:</strong> {{street}} {{number}} <br />
  <strong>Complemento:</strong> {{complement}} <br />
  <strong>Cidade:</strong> {{city}} {{state}} <br />
  <strong>CEP:</strong> {{postcode}} <br />

  <br />
  <small>Você pode retirar o pedido durante o horário comercial, entre 8h e 18h</small>

</p>
